<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
    </configSections>
    <configBuilders>
        <builders>
        <add name="Secrets" userSecretsFile="C:\Projects\kmaooad18-ci\\secrets.xml" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=1.0.0.0, Culture=neutral" /></builders>
    </configBuilders>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings configBuilders="Secrets">
    <add key="vsts_pat" value="This is a PAT placeholder" />
    <add key="github_pat" value="This is a PAT placeholder" />
    <add key="vsts_collectionUri" value="https://dev.azure.com/ashabinskiy" />
    <add key="vsts_projectName" value="KmaOoad18" />
    <add key="vsts_projectId" value="84882b39-af14-4d97-9f21-3baa86fb7ac6" />
    <add key="vsts_githubConnection" value="0224b15d-51eb-47ac-932e-9402ad67df1b" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
